/target
/compiled
/dist
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
package-lock.json
*.jar
*.class
*.iml
/.lein-*
/.nrepl-port
/out
/.repl
*.log
/.env
/.sass-cache
/.idea
/node_modules
/.shadow-cljs/
/resources/public/js/
