{:lein         {:profile "+shadow-cljs"}
 :builds       {:app {:target :npm-module
                      :entries [mfe-agent.core]                                   ;[reagent-project.mfe-core]
                      :output-dir "compiled/"}}
 :dev-http     {3000 {:root    "resources/public"
                      :handler mfe-agent.handler/app}}}
